// COLORS
//$color-primary: #aba364;
//$color-primary: #0DBB68;
$color-primary: #7b48bd;
$color-primary-60: rgba($color-primary, 0.6);
$color-primary-80: rgba($color-primary, 0.8);
$color-primary-dark: darken($color-primary, 20);
$color-secondary: $color-primary-80;

$color-accent: #A4C2A8;


$color-white: #fff;
//$color-grey-light-bg: #f3f8f2;
$color-grey-light-bg: #8c6cff;

$color-grey-light-header: #fbfbfb;
$color-grey-light: #eee;
$color-grey-medium: #ababab;
$color-grey-dark: #323248;
$color-black: #000;

$color-text-default: $color-grey-dark;

//FIXED HEIGHTS
$header-height: 6rem;

// MARGINS
$content-margin-top: 10rem;

// FONT SIZE
$font-size-lg: 1.8rem; // 18px
$font-size-sm: 1.5rem; // 14px

//TRANSITION TIME
$transition-main: .35s;
$transition-fast: .2s;

// BORDER_RADIUS
$hasRoundCorners: true;
$border-radius-tiny: .3rem;
$border-radius-small: .7rem;
$border-radius-big: 1rem;

// SHADOWS
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);