.certificate {
	position: relative;
	display: grid;
	grid-gap: 2rem;
	align-items: stretch;
	padding: 1.3rem 2rem;
	transition: all $transition-fast;
	border-radius: 1rem;
	margin-left: -1.4rem;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 60%;
		background-color: $color-primary;
		//transition: $transition-main;
		transition: .3s ease-in-out;
		//transition-delay: .1s;
		z-index: 0;
		border-radius: 1rem;
	}

	@include respond('phone') {
		background-color: rgba($color-grey-light-bg, .05);
		border: none;
		border-radius: $border-radius-tiny;
	}

	&:hover {

		&:before {
			width: 110%;
			height: 105%;
		}
	}

	&:hover &__cta {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}

	&:hover &__name,
	&:hover &__result {
		color: $color-white;
	}

	&:hover &__result {
		opacity: 1;
		transform: translateY(0);
		//margin-top: 0;
	}


	&__info {
		z-index: 1;
	}

	&__school {
		transition: all $transition-fast;
		margin-bottom: .8rem;
		font-weight: 500;
	}


	&__name {
		font-weight: 400;
		transition: all $transition-fast;
		line-height: 1.3;
		color: $color-primary;

		&--additional-info {
			font-size: $font-size-sm;
			color: $color-grey-medium;
			margin-top: .5rem;
			display: block;
		}
	}

	&__result {
		letter-spacing: .05rem;
		color: $color-secondary;
		align-self: end;
		z-index: 1;
		opacity: 0;
		transform: translateY(-1rem);
		transition: $transition-fast ease-in-out;
		transition-delay: .3s;
	}

	&__logo {
		display: inline-block;
		height: auto;
		width: 2.5rem;
		transition: all $transition-fast;
	}

	&__cta {
		position: absolute;
		bottom: 1rem;
		right: 0;
		transform: translateY(-1rem);
		visibility: hidden;
		opacity: 0;
		display: grid;
		max-width: 4rem;
		justify-self: end;
		text-align: center;
		border-radius: $border-radius-tiny;
		transition-delay: .45s;

		@include respond('phone') {
			visibility: visible;
			opacity: 1;
			justify-self: end;
			bottom: 1.3rem;
		}
	}
}